@font-face {
  font-family: Tribal Animal; /*a name to be used later*/
  src: url('../../fonts/Tribal_Animal.ttf'); /*URL to font*/
}
.dropdown-menu li a:hover {
	background-color: grey;
	color: white;
}